<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Basic Page Needs -->
		<meta charset="UTF-8">
		<meta name="description" content="This is a Reference page for our web app. Everyone can see it.">
		<meta name="author" content="Yunfang Lyu(23685059)">
		<meta name="keywords" content="References">
		<title>Reference</title>
		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Stylesheets -->
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='love.png') }}">
	</head>
  <body>
    <h2>Pages</h2>
    <ol>
      <li><a href="https://www.youtube.com/watch?v=1cFN7OBI9Yg&ab_channel=AsmrProg">Welcome page</a></li>
      <li><a href="https://www.youtube.com/watch?v=H8ThscWsQV8">Login-register-reset pages glass effect</a></li>
      <li><a href="https://codepen.io/carlasartori/pen/Mwxxgj">Login-register-reset page flip effect</a></li>
      <li><a href="https://www.bootstrapmb.com/item/5568">404 page</a></li>
      <li><a href="https://www.bootstrapmb.com/item/3806">500 page</a></li>
    </ol>
    <h2>Images</h2>
    <ol>
      <li><a href="https://www.pexels.com/photo/aerial-photography-of-pine-trees-on-the-mountain-9754/">Background-1</a></li>
      <li><a href="https://www.pexels.com/zh-cn/photo/933054/">Background-2</a></li>
      <li><a href="https://www.flaticon.com/free-icon/love_9812568">Website Icon</a></li>
      <li><a href="https://www.pexels.com/zh-cn/photo/2303781/">Background-3</a></li>
    </ol>
    <h2>JS</h2>
    <ol>
      <li><a href="https://codepen.io/AllThingsSmitty/pen/pOoeyz">rememberme.js</a></li>
      <li><a href="https://l2dwidget.js.org/docs/index.html">L2DWidget.js</a></li>
      <li><a href="https://darkmodejs.learn.uno/">Darkmode.js</a></li>
      <li><a href="https://docs.mapbox.com/mapbox-gl-js/guides/">mapbox-gl.js</a></li>
      <li><a href="https://ckeditor.com/">ckeditor</a></li>
    </ol>
  </body>
</html>