<!-- Extends base2.html template -->
{% extends "base2.html" %}

{% block content %}
	<!-- Flip container for registration form -->
	<div class="flip-container">
		<div class="flipper" id="flipper">
			<div class="register" id="register">
				<!-- Registration form -->
				<form class="form-container" id="register-form" action="#" method="POST" novalidate>
					{{ form.hidden_tag() }}
					<h1 class="form-title">Register</h1>
					<!-- Username field -->
					<div class="form-content">
						<div class="form-box">
							<i class="ri-user-3-line input-icon"></i>
							<div class="input-box">
								{{ form.username(size=32, class="input-area", id="register-user-name", placeholder=" ") }}
								{{ form.username.label(class="input-label") }}
							</div>
						</div>
					</div>
					<!-- Email field -->
					<div class="form-content">
						<div class="form-box">
							<i class="ri-mail-line input-icon"></i>
							<div class="input-box">
								{{ form.email(size=32, class="input-area", id="email-send", placeholder=" ") }}
								{{ form.email.label(class="input-label") }}
							</div>
						</div>
					</div>
					<!-- Password field -->
					<div class="form-content">
						<div class="form-box">
							<i class="ri-lock-2-line input-icon"></i>
							<div class="input-box">
								{{ form.password(size=32, class="input-area", id="register-password", placeholder=" ") }}
								{{ form.password.label(class="input-label") }}
								<label></label>
							</div>
						</div>
					</div>
					<!-- Confirm Password field -->
					<div class="form-content">
						<div class="form-box">
							<i class="ri-lock-2-line input-icon"></i>
							<div class="input-box">
								{{ form.password2(size=32, class="input-area", id="confirm-password", placeholder=" ") }}
								{{ form.password2.label(class="input-label") }}
								<label></label>
							</div>
						</div>
					</div>
					<!-- Submit button -->
					{{ form.submit(class="submit-button", id="register-button") }}
					<!-- Reminder for already registered users -->
					<p class="reminder">
						Already have an account?
						<br>
						<a class="flipbutton" href="{{ url_for('main.login') }}">Login Here</a>
					</p>
				</form>
			</div>
		</div>
	</div>
	<!-- Script for form validation -->
	<script src="{{ url_for('static', filename='validate-register.js') }}"></script>
{% endblock %}
