<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Basic Page Needs -->
		<meta charset="UTF-8">
		<meta name="description" content="This is a 500 error page for our web app.">
		<meta name="author" content="Yunfang Lyu(23685059)">
		<meta name="keywords" content="500 status">
		<title>500 Error Page</title>
		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="{{ url_for('static', filename='500.css') }}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="full-screen">
			<div class="hero-image">
				<img src="{{ url_for('static', filename='background.jpg') }}" alt="background image">
				<div class="container">
					<span class="error-num">5</span>
					<div class='eye'></div>
					<div class='eye'></div>
					<p class="sub-text">Oops! Something went wrong. We're <span class="italic">looking</span> to see what happened.
					</p>
					<a href="{{ url_for('index') }}">Go Back Home</a>
				</div>
			</div>
		</div>
		<script>
			$(".full-screen").mousemove(function (event) {
				var eye = $(".eye");
				var x = (eye.offset().left) + (eye.width() / 2);
				var y = (eye.offset().top) + (eye.height() / 2);
				var rad = Math.atan2(event.pageX - x, event.pageY - y);
				var rot = (rad * (180 / Math.PI) * -1) + 180;
				eye.css({
					'-webkit-transform': 'rotate(' + rot + 'deg)',
					'-moz-transform': 'rotate(' + rot + 'deg)',
					'-ms-transform': 'rotate(' + rot + 'deg)',
					'transform': 'rotate(' + rot + 'deg)'
				});
			});
		</script>
	</body>
</html>