<table>
  <tr valign="top">
      <td ><img style="
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #ddd;
        overflow: hidden;" crossorigin="anonymous" src="{{ post.author.avatar(80) }}"></td>
      <td>
        <strong>
          <p><a style="    
            font-weight: bold; /* Make the username bold */
            color: #007bff; /* Bootstrap's default primary color */
            text-decoration: none; /* No underline */
            margin-left: 10px;" href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>
        </strong>  said:</p><p style=
        " background-color: #fff;
          padding: 15px 20px;
          margin-bottom: 10px;
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0,0,0,0.1);
          max-width: 90%;
          word-wrap: break-word;
          overflow-wrap: break-word;
          word-break: break-all;
          box-sizing: border-box;">{{ post.body }}</p>

        Posted on:  {{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
  </tr>
</table><hr>