<link rel="stylesheet" href="{{ url_for('static', filename='question_post.css') }}">

<table>
  <tr valign="top">
    <div class="post">
      <div class="post-left">
        <img src="{{ post.author.avatar(80) }}">

      </div>
      <div class="post-middle">
        <div class="post-middle-content">
          <div>
            <a class="user_popup" href="{{ url_for('user', username=post.author.username) }}">{{
              post.author.username }}</a>
          </div>

          <div class="post-title">
            <a class="post-title" href="{{ url_for('post_detail', post_id=post.id) }}">{{
              post.title }}</a>
          </div>
        </div>

      </div>
      <div class="post-count">
        {{ post.replies_count() }}
      </div>
      <div class=post-right>
        <div class="post-date">
          <div>
            {{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
          </div>

        </div>

      </div>

    </div>
  </tr>
</table>
<hr>