{% extends "base2.html" %}
{% block content %}
	<div class="flip-container">
		<div class="flipper" id="flipper">
			<div class="reset" id="reset">
				<form class="form-container" action="" method="POST" novalidate>
					{{ form.hidden_tag() }}
					<h1 class="form-title">Reset Password</h1>
					<div class="form-content">
						<div class="form-box">
							<i class="ri-mail-line input-icon"></i>
							<div class="input-box">
								{{ form.email(size=64, class="input-area", placeholder=" ") }}
								{{ form.email.label(class="input-label") }}
							</div>
						</div>
					</div>
					{{ form.submit(class="submit-button") }}
					<p class="reminder">
						Cancel Reset?
						<br>
						<a class="flipbutton" href="{{ url_for('login') }}">Login Here</a>
					</p>
				</form>
			</div>
		</div>
	</div>
{% endblock %}