<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Basic Page Needs -->
	<meta charset="UTF-8">
	<meta name="description" content="This is a reset password page for our web app.">
	<meta name="author" content="Yunfang Lyu(23685059)">
	<meta name="keywords" content="reset password">
	<title>Reset password</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

</head>

<body>
	<img src="{{ url_for('static', filename='background.jpg') }}" alt="background image">
	<div class="flip-container">
		<div class="flipper" id="flipper">
			<div class="reset" id="reset">
				<form class="form-container" action="" method="POST" novalidate>
					{{ form.hidden_tag() }}
					<h1 class="form-title">Reset Password</h1>
					<div class="form-content">
						<div class="form-box">
							<i class="ri-mail-line input-icon"></i>
							<div class="input-box">
								{{ form.email(size=64, class="input-area", placeholder=" ") }}
								{{ form.email.label(class="input-label") }}
							</div>
							{{ form.submit(id="send-button") }}
						</div>
					</div>
					<div class="form-content">
						<div class="form-box">
							<i class="ri-mail-check-line input-icon"></i>
							<div class="input-box">
								<input required type="text" class="input-area" id="email-code" placeholder=" ">
								<label for="email-code" class="input-label">Email code</label>
							</div>
						</div>
					</div>
					<div class="form-content" id="reset-part">
						<div class="form-box">
							<i class="ri-lock-2-line input-icon"></i>
							<div class="input-box">
								<input type="password" required class="input-area" id="reset-password" placeholder=" ">
								<label for="reset-password" class="input-label">Password</label>
							</div>
						</div>
					</div>
					<button type="submit" class="submit-button" id="reset-button">Reset</button>
					<p class="reminder">
						Successful?
						<br>
						<a class="flipbutton" href="{{ url_for('login') }}">Login Here</a>
					</p>
				</form>
			</div>
		</div>
	</div>
	<!-- JavaScripts -->
	<script src="{{ url_for('static', filename='flip.js') }}"></script>
</body>

</html>