* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.full-screen {
  color: white;
  font-family: 'Arial Black';
  text-align: center;
  position: relative;
}
/* -- Background image -- */
.hero-image img {
	width: 100%;
  height: 100vh;
	object-fit: cover;
	object-position: center;
	overflow: hidden;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.hero-image {
	background-color:  #000;
}
/* -- 500 Status container -- */
.container {
  padding-top: 4em;
  width: 50%;
  display: block;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.error-num {
  font-size: 8em;
}
.eye {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  position: relative;
  width: 100px;
}
.eye::after {
  background: #000;
  border-radius: 50%;
  bottom: 56.1px;
  content: ' ';
  height: 33px;
  position: absolute;
  right: 33px;
  width: 33px;
}
/* -- Description -- */
p {
  margin-bottom: 4em;
  line-height: 2;
}
/* -- Go back home link -- */
a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: gray;
}
/* -- Responsive -- */
@media screen and (max-width: 600px) {
  .container {
      width: 80%;
  }
  .error-num {
      font-size: 6em;
  }
  .eye {
    height: 70px;
    width: 70px;
  }
  .eye::after {
    bottom: 20px;
  }
}