
#chat_input{
    width: 200px;
    height: 40px;
    position: fixed;
    bottom: 320px;
    right: 20px;
} 

#question{
    border: none;/*取消输入框边框*/
    border-bottom: 1px #aaaaaa solid;/*设置下边框*/
    background-color: transparent;/*背景透明*/
    padding: 5px;
}

/*手机端不显示*/
@media screen and (max-width: 480px) {
    #chat_input{
        display: none;
    }
    #live2d-widget{
        display: none;
    }
}

/* #live2d-widget {
  display: none;
} */
