.empty-page{
  height:100%;
  .empty-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height:600px;
    .empty-desc{
      font-size: 16px;
      color: #8f8b8b;
    }

  }
}