.post-area {
  margin-left: 10px;
  .post-date {
    color: red;
    position: absolute;
    top: 10;
    right: 0;
  }
  .post-title {
    margin-top:8px;
    font-size: 20px;
    color: black;
  }
}