
.reply {
  display: flex;
  align-items: center;

  .reply-left {
    width: 80px;
  }

  .reply-middle {
    display: flex;
    flex-direction: row;
    min-width: 60%;

    .user_popup {
      width: 20px;
      text-decoration: none;
    }

    .reply-middle-content {
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      min-width:90%;
    }
    .reply-middle-id{
      min-width:10%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .reply-title {
      font-size: 24px;
      margin-top: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   
      .reply-title-text{
        color: #808080;
        text-decoration: none;
      }
   

    }
    
  }

  .reply-delete {
    height: 100%;
    min-width: 120px;
    font-size: 20px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808080;
    display: flex;
    justify-content: center;
  }


  .reply-right {
    .reply-date {
      display: flex;
      flex-direction: column;
      top: 10px;
    }
  }
}