<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Basic Page Needs -->
	<meta charset="UTF-8">
	<meta name="description" content="This is a login page for our web app.">
	<meta name="author" content="Yunfang Lyu(23685059)">
	<meta name="keywords" content="login">
	<title>{{ title }}</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Stylesheets -->
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='love.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

</head>

<body>
	<img src="{{ url_for('static', filename='background.jpg') }}" alt="background image">
	<div class="flip-container">
		<div class="flipper" id="flipper">
			<div class="login" id="login">
				<form class="form-container" id="login-form" action="" method="POST" novalidate>
					{{ form.hidden_tag() }}
					<h1 class="form-title">Log in</h1>
					<div class="form-content">
						<div class="form-box">
							<i class="ri-user-3-line input-icon"></i>
							<div class="input-box">
								{{ form.username(size=32, class="input-area", id="login-user-name", placeholder=" ") }}
								{{ form.username.label(class="input-label")}}
							</div>
						</div>
					</div>
					<div class="form-content">
						<div class="form-box">
							<i class="ri-lock-2-line input-icon"></i>
							<div class="input-box">
								{{ form.password(size=32,class="input-area",id="login-password",placeholder=" ") }}
								{{ form.password.label(class="input-label")}}
								<label></label>
							</div>
						</div>
					</div>
					<div class="check-container">
						<div class="check-group">
							{{ form.remember_me(class="check-box",id="login-check") }}
							{{ form.remember_me.label(class="check-label") }}
						</div>
						<a class="flipbutton login-forgot" class="submit-button" href="#">Forgot Password?</a>
					</div>
					{{ form.submit(class="submit-button",id="login-button") }}
					<p class="reminder">
						Don't have an account?
						<br>
						<a class="flipbutton" href="{{ url_for('register') }}">Register</a>
					</p>
				</form>
			</div>
		</div>
	</div>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<!-- JavaScripts -->
	<script src="{{ url_for('static', filename='flip.js') }}"></script>
	{% if form.username.errors %}
    <script>
        alert("Username field: {{ form.username.errors[0] }}");
    </script>
	{% endif %}
	{% if form.password.errors %}
			<script>
					alert("Password field: {{ form.password.errors[0] }}");
			</script>
	{% endif %}

</body>

</html>
