/* -- Font -- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* -- Hero image Part -- */
.hero-image {
  color: #323232;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-text {
  width: 65%;
}

/* -- Hero text and navigation links -- */
.hero-text h1 {
  color: #6C757D;
  width: 100%;
  font-weight: 700;
  font-size: 7.5vw;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding: 1.7vw;
  border-radius: 1.6rem;
  cursor: pointer;
  perspective: 1000px;
  backdrop-filter: blur(8px);
}

.hero-text p {
  font-size: 1.5rem;
  color: white;
  margin-top: 10%;
  margin-bottom: 10%;
}

.nav-btn a {
  background-color: #6C757D;
  color: #fff;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.hero-image a:hover {
  background-color: #222;
}

/* -- Pure color area -- */
.blank {
  width: 100%;
  min-height: 25vh;
  background-color: #6C757D;
}

.blank-2 {
  width: 100%;
  min-height: 35vh;
  background-color: #6C757D;
}

.second {
  background-attachment: fixed;
}

.card-container {
  margin: 50px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  gap: 2.5rem;
}

.card {
  width: 280px;
  height: 350px;
  align-items: center;
  border-radius: 0.8rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
  perspective: 1000px;
  backdrop-filter: blur(8px);
}

.card:hover {
  transform: scale(1.1);
}

.card .info {
  align-items: center;
  color: white;
  margin: 10px;
}

.card .info img {
  width: 80%;
  height: 180px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: 0.8rem;
}

.card .info h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

.footer {
  color: #fff;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footer .column h3 {
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.footer .column ul {
  list-style: none;
}

.footer .column ul li {
  margin-top: 10px;
}

.footer .column ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.footer .column ul li a:hover {
  color: #ccc;
}